/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

// yeah I need to finish this

/*--------------------------------------------------------------
1.0 Normalize
--------------------------------------------------------------*/
/* sass variables */
.text-center {
  text-align: center;
}

/*--------------------------------------------------------------
3.0 Alignments
--------------------------------------------------------------*/
/*--------------------------------------------------------------
3.1 Page Grid
--------------------------------------------------------------*/
html {
  font-size: 16px;
}

body {
  background-color: white;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  line-height: 1.45;
  color: #35070F;
  margin: 0;
}

body p::selection {
  background-color: #35070F;
}

p {
  margin-bottom: 1.25em;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
  line-height: 1.15;
  margin-top: 0;
}

h1 {
  margin-bottom: 2.441rem;
  font-size: 3.052em;
  font-weight: 900;
  font-style: italic;
  font-family: "Playfair Display script=all rev=1", serif;
}

h2 {
  font-size: 2.441em;
  margin-bottom: 1.953rem;
}

h3 {
  font-size: 1.953em;
  margin-bottom: 1.563rem;
}

h4 {
  font-size: 1.563em;
  margin-bottom: 1.25rem;
}

h5 {
  font-size: 1.25em;
  margin-bottom: 1rem;
}

small, .text_small {
  font-size: 0.8em;
}

svg {
  fill: currentColor;
}

svg:hover {
  fill: #995751;
}

a {
  color: #35070F;
}

a:hover {
  color: #995751;
}

button, .button {
  background: #F2AD8D;
  color: #35070F;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  font-family: "playfair-display", serif;
  font-size: 1.25em;
  display: inline-block;
  transition-duration: 1s;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
}

button:hover {
  background: #995751;
  color: #F2AD8D;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
}

li {
  margin-bottom: 0.5em;
}

fieldset {
  border: none;
}

.show-for-large {
  display: none;
}
@media (min-width: 1024px) {
  .show-for-large {
    display: initial;
  }
}

.site {
  display: grid;
  grid-template-columns: 1fr 10px 1fr;
  margin: 0 10px 40px 10px;
  grid-gap: 10px;
  padding-top: 2.441em;
}
@media (min-width: 1024px) {
  .site {
    grid-template-columns: 1fr 20px 1fr;
  }
}

.site-header {
  grid-column: 1/4;
  grid-row: 1;
  align-items: baseline;
  width: 100%;
  max-width: 66rem;
  justify-self: center;
}

.title-image {
  grid-column: 1;
  grid-row: 3/5;
  z-index: 3;
  max-width: 22rem;
  justify-self: end;
}

.title-image img {
  border-radius: 5px;
  max-width: 100%;
  height: auto;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
}

.title-border {
  grid-column: 2;
  grid-row: 3/6;
  border-left: 2px solid #222;
  z-index: 2;
}

.main-bg-color {
  grid-column: 1/4;
  grid-row: 4/8;
  background: #f9dacc;
  border-radius: 5px;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
}

main, .main {
  grid-column: 1/4;
  grid-row: 6;
  padding: 20px;
  width: calc(100% - 40px);
  max-width: 44em;
  margin: 0 auto;
}

/* 
.main-extra {
	// waiting on what I need to do
} */
.footer-border {
  grid-column: 2;
  grid-row: 7/9;
  border-left: 2px solid #222;
  z-index: 2;
}

.footer-border-extender {
  /* empty with a minimum heigh to cause the grid row to show */
  grid-row: 7;
  min-height: 30px;
}

.flaxen-footer {
  grid-column: 1/4;
  grid-row: 9/11;
}

.footer-social {
  grid-column: 1/4;
  grid-row: 9;
  display: flex;
}

.footer-social ul {
  display: flex;
}

/*--------------------------------------------------------------
3.1 Header Grid
--------------------------------------------------------------*/
.site-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-promo {
  grid-column: 1/4;
  grid-row: 2;
  justify-self: center;
}

.title-bottom {
  grid-column: 3;
  grid-row: 3;
  max-width: 33rem;
  margin-bottom: 0;
}

.border-extender {
  grid-row: 5;
  min-height: 5rem;
}

/*--------------------------------------------------------------
3.2 Article Grid
--------------------------------------------------------------*/
/*--------------------------------------------------------------
3.3 Article Grid
--------------------------------------------------------------*/
.main h1, .main h2, .main h3, .main h4, .main h5, .main h6, .main hr, .main blockquote,
.main div,
.main p, .main ul {
  max-width: 44rem;
  margin-left: auto;
  margin-right: auto;
}

.main blockquote {
  font-size: 1.1875rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem;
  padding-left: 0;
}
@media (min-width: 1024px) {
  .main blockquote {
    font-size: 1.9375rem;
  }
}

/*--------------------------------------------------------------
3.4 Footer Grid
--------------------------------------------------------------*/
.footer-navigation-top {
  background: lightgray;
  grid-column: 1/4;
  grid-row: 8;
  border-radius: 5px;
  width: calc(100% - 2em);
  max-width: 33rem;
  justify-self: end;
  padding: 1rem;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
}
@media (min-width: 640px) {
  .footer-navigation-top {
    grid-column: 1;
  }
}

.footer-contact {
  grid-column: 1/4;
  grid-row: 9;
  color: #35070F;
}
@media (min-width: 640px) {
  .footer-contact {
    grid-column: 3;
    grid-row: 8;
  }
}

/*--------------------------------------------------------------
7.0 Formatting
--------------------------------------------------------------*/
.navigation-top {
  color: #F2AD8D;
  z-index: 11;
}
.navigation-top button {
  margin-bottom: 0;
}

.header-promo {
  background: #E2E2E2;
  border-radius: 5px;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  width: 100%;
  max-width: 66rem;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
}

.header-promo a {
  display: inline-block;
  width: calc(100% - 2em);
  height: calc(100% - 2em);
  padding: 1rem;
}

.header-promo:hover {
  background: #cacaca;
}

.header-promo:hover a {
  color: #995751;
}

/*--------------------------------------------------------------
10.0 Links
--------------------------------------------------------------*/
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

/*--------------------------------------------------------------
12.0 Navigation
--------------------------------------------------------------*/
hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid #35070F;
}

.menu {
  padding-left: 0;
}

#minimenu .sub-menu {
  padding-left: 0;
  display: block;
}

svg {
  fill: currentColor;
}

.current-menu-item a {
  color: #995751;
}

.off-canvas a:hover, .off-canvas .current-menu-item a {
  color: #fefefe;
}

.off-canvas hr {
  border-bottom: 1px solid #F2AD8D;
}

.dark a:hover, .dark .current-menu-item a {
  color: #fefefe;
}

.icon {
  width: 1em;
  height: 2em;
}

.icon-search {
  padding-left: 1rem;
  color: #fefefe;
}

.icon-angle-down {
  height: 1em;
}

.icon-feature {
  font-size: 3em;
  color: #73768D;
}

.icon-feature:hover {
  color: #8a8a8a;
}

.menu li {
  list-style-type: none;
  margin-bottom: 1em;
}

.menu a {
  margin-bottom: 1em;
  display: block;
}

.menu-item .is-active {
  color: #222;
}

.off-canvas .menu li {
  float: left;
  clear: both;
  width: 100%;
}

.page-numbers {
  display: inline;
}

.social-links-menu li a {
  width: 2em;
  height: 2em;
  float: left;
}

.social-links-menu li a:hover {
  color: #35070F;
}

#menu-social {
  display: flex;
}

/*
#menu-social li {
	float: left;
	width: auto;
}

// This should be in one class
.social-navigation .icon, #menu-social li a .icon {
	width: 1em;
	height: 2em;
}
*/
#header-social {
  display: flex;
  justify-content: center;
}

.submenu a {
  color: #35070F;
}

input[type=search] {
  width: auto;
}

.view-results {
  list-style: none;
  padding-left: 0;
  margin-bottom: 1em;
}
.view-results li {
  margin-bottom: 1em;
}

/*--------------------------------------------------------------
18.0 SVGs Fallbacks
--------------------------------------------------------------*/
/* Social Menu fallbacks */
.no-svg .social-navigation a {
  background: transparent;
  color: #222;
  height: auto;
  width: auto;
}

/* Show screen reader text in some cases */
.no-svg .next.page-numbers .screen-reader-text,
.no-svg .prev.page-numbers .screen-reader-text,
.no-svg .social-navigation li a .screen-reader-text,
.no-svg .search-submit .screen-reader-text {
  clip: auto;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  height: auto;
  position: relative !important;
  /* overrides previous !important styles */
  width: auto;
}

/*--------------------------------------------------------------
20.0 Required Worpess CSS
	Adapted from Twenty Sixteen
--------------------------------------------------------------*/
.wp-caption {
  max-width: 100%;
}

.wp-caption-text {
  margin-top: 1em;
  font-style: italic;
}

/* .sticky {
	// Currently not using
} */
.screen-reader-text {
  position: static !important;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

.screen-reader-text {
  position: absolute !important;
}

.gallery-caption {
  font-style: italic;
}

img .alignleft {
  padding-right: 1em;
}

.alignright {
  float: right;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

/* little extra hack used to overwrite a foundation menu default */
.no-padding-left {
  padding-left: 0 !important;
}

/* little extra for the off canvas sub menus  might be availabe in settings */
.off-canvas .sub-menu a {
  color: #F2AD8D;
}

.off-canvas .sub-menu a:hover {
  color: #fefefe;
}

.large-text-right {
  text-align: left;
}
@media (min-width: 1024px) {
  .large-text-right {
    text-align: right;
  }
}

cite {
  font-size: unset !important;
}

#minimenu {
  background: #E2E2E2;
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translate3d(0, -100%, 0);
  width: 100%;
  z-index: 10;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
  transition-duration: 3s;
}
#minimenu hr {
  width: calc(100% - 2em);
  border: none;
  border-bottom: 2px solid #F2AD8D;
}
#minimenu h2 {
  font-weight: 900;
  font-style: italic;
}

.minimenu-toggle {
  z-index: 11;
}

.minimenu-open {
  transform: translate3d(0, 0, 0) !important;
}

.social-links-menu li {
  list-style: none;
}

input[type=text],
textarea {
  font-family: "Playfair Display", serif;
  font-size: 1em;
  width: calc(100% - 2em);
  padding: 0.5rem;
  margin-top: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #35070F;
  border-radius: 5px;
}

.form-label-numbers {
  display: flex;
  justify-content: space-between;
}
.form-label-numbers label {
  margin-right: 1em;
}

form .form-big-input {
  padding: 1em;
  width: calc(100% - 12em);
}

.single-list {
  padding-left: 0;
}
.single-list li {
  list-style: none;
  font-size: 1.25em;
  margin-bottom: 1em;
}

.site-branding-text h1 {
  margin-bottom: 0;
  transition-duration: 3s;
}

.site-branding-text h1 a:hover {
  color: #F2AD8D;
  text-decoration: underline;
}

.menu-item {
  font-size: 19px;
}

/*
.footer-navigation-top .sub-menu li {
	// list-style: disc !important; // this isnt working
}
*/
.behind-the-events {
  z-index: -1;
}

.forward-banner {
  z-index: 2;
}

/*# sourceMappingURL=app.css.map */
