/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Normalize
2.0 Accessibility
3.0 Alignments
	3.1 Page Grid
	3.2 Header Grid
	3.3 Article Grid
	3.4 Footer Grid
4.0 Clearings
5.0 Typography
6.0 Forms
7.0 Formatting
8.0 Lists
9.0 Tables
10.0 Links
11.0 Featured Image Hover
12.0 Navigation
13.0 Layout
   13.1 Header
   13.2 Front Page
   13.3 Regular Content
   13.4 Posts
   13.5 Pages
   13.6 Footer
14.0 Comments
15.0 Widgets
16.0 Media
   16.1 Galleries
17.0 Customizer
18.0 SVGs Fallbacks
19.0 Media Queries
20.0 Print
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Normalize
--------------------------------------------------------------*/

/* Handled by Foundation */

svg {
	fill: currentColor;
}

.margin-0 {
	margin: 0;
}

/*--------------------------------------------------------------
3.0 Alignments
--------------------------------------------------------------*/

/*--------------------------------------------------------------
3.1 Page Grid
--------------------------------------------------------------*/

$global-grid-gap: 20px;

.site {
	display: grid;
	grid-template-columns: 0 1fr 1fr 1fr 1fr 0;
	grid-gap: 10px;
	margin-top: 20px;
	margin-bottom: 40px;

	@include breakpoint(large) {
		grid-template-columns: 20px 1fr 1fr 1fr 1fr 1fr 1fr 20px;
		grid-gap: $global-grid-gap;
	}
}

.site-header {
	grid-column: 2 / 6;
	grid-row: 1 / 3;
	align-items: center;

	@include breakpoint(large) {
		grid-column: 2 / 8;
	}
}

.header-bottom {
	grid-column: 4 / 6;
	grid-row: 3;

	@include breakpoint(large) {
		grid-column: 5 / 7;
	}
}

.title-image {
	grid-column: 1 / 4;
	grid-row: 3 / 6;
	z-index: 3;

	@include breakpoint(large) {
			grid-column: 3 / 5;
	}
}

.title-image img {
	border-radius: $global-radius;
}

.title-border {
	grid-column: 4 ;
	grid-row: 4 / 7;
	border-left: 2px solid $black;
	z-index: 2;

	@include breakpoint(large) {
		grid-column: 5 ;
	}
}

.main-bg-color {
	grid-column: 2 / 6;
	grid-row: 5 / 8;
	background: scale-color($secondary-color, $lightness: 55%);

	border-radius: $global-radius;

	@include breakpoint(medium) {
		grid-column: 2 / 6;
		grid-row: 5 / 9;
	}

	@include breakpoint(large) {
		grid-column: 2 / 8;
	}
}

.main {
	grid-column: 2 / 6;
	grid-row: 7;
	padding: $global-grid-gap;

	@include breakpoint(large) {
		grid-column: 2 / 8;
		padding: 0;
	}
}

.footer-border {
	grid-column: 4;
	grid-row: 8 / 11;
	border-left: 2px solid $black;
	z-index: 2;

	@include breakpoint(large) {
		grid-column: 5;
	}
}

.footer-border-extender {
	/* empty with a minimum heigh to cause the grid row to show */
	grid-row: 8;
	min-height: 30px;
}

.flaxen-footer {
	grid-column: 2 / 6;
	grid-row: 9 / 11;
}

.footer-image {
	grid-column: 4 / 7;
	grid-row: 10;
	border-radius: $global-radius;

	@include breakpoint(medium) {
		grid-column: 5 / 7;
		grid-row: 10;
	}
}

.footer-social {
	grid-column: 2 / 8;
	grid-row: 11;
}

/*--------------------------------------------------------------
3.1 Header Grid
--------------------------------------------------------------*/

.site-header {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: $global-grid-gap;

	@include breakpoint(large) {
		grid-template-columns: 2fr 1fr 1fr 2fr;
	}
}

.site-branding-text {
	grid-column: 1 / 4;
	grid-row: 1;

	@include breakpoint(large) {
		grid-column: 1;
	}
}

.navigation-top {
	grid-column: 4;
	grid-row: 1;

	@include breakpoint(large) {
		grid-column: 4;
	}
}

.split-entry-title-top {
	grid-column: 1/3;
}

.header-promo {
	grid-column: 1 / 5;
	grid-row: 2;

	display: grid; /* needed to center align the text */
	align-items: center;

	@include breakpoint(large) {
		grid-column: 2 / 4;
		grid-row: 1;
	}
}

.title-top {
	grid-column: 1 / 3;
	grid-row: 3;
	text-align: right;
}

.title-bottom {
	grid-column: 4 / 7;
	grid-row: 3;

	@include breakpoint(large) {
		grid-column: 5 / 7;
	}
}

.border-extender {
	grid-row: 6;
	min-height: 60px; /* this should be a variable or dependant on a em to be more responsive */
}

/*--------------------------------------------------------------
3.2 Article Grid
--------------------------------------------------------------*/

.main {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr; /* 4 columns */
	grid-gap: $global-grid-gap;

	@include breakpoint(large) {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; /* 8 columns */
	}
}

/* Column start numbers */
/* these I think are already in foundation grid or need to be automated in a better way */
.col-1 {
	grid-column-start: 1;
}

.col-2 {
	grid-column-start: 2;
}

.col-3 {
	grid-column-start: 3;
}

.col-4 {
	grid-column-start: 4;
}

.large-col-3 {
	@include breakpoint(large) {
		grid-column-start: 3;
	}
}

.large-col-5 {
	@include breakpoint(large) {
		grid-column-start: 5;
	}
}

/* Column end numbers */
.col-end-3 {
	grid-column-end: 3;
}

.col-end-4 {
	grid-column-end: 4;
}

.col-end-5 {
	grid-column-end: 5;
}

.large-col-end-5 {
	@include breakpoint(large) {
		grid-column-end: 5;
	}
}

.large-col-end-8 {
	@include breakpoint(large) {
		grid-column-end: 8;
	}
}

/*--------------------------------------------------------------
3.3 Article Grid
--------------------------------------------------------------*/
.main h1, .main h2, .main h3, .main h4, .main h5, .main h6, .main hr {
	grid-column-start: 1;
	grid-column-end: 5;

	@include breakpoint(large) {
		grid-column-start: 2;
		grid-column-end: 8;
	}
}

.main hr {
	width: 100%;
}

.main p, .main ul {
	grid-column-start: 1;
	grid-column-end: 4;

	@include breakpoint(large) {
		grid-column-start: 5;
		grid-column-end: 8;
	}
}

/* Slightly hacky fix to the paragraph not needing alignment this isnt great and its ugly but functional */
.main p[style="text-align:center"] {
	text-align: left !important;
	grid-column-start: 2;
	grid-column-end: 5;

	@include breakpoint(large) {
		grid-column-start: 5;
		grid-column-end: 8;
	}
}

.main p[style="text-align:right"] {
	text-align: left !important;
	grid-column-start: 2;
	grid-column-end: 5;

	@include breakpoint(large) {
		grid-column-start: 5;
		grid-column-end: 8;
	}
}

.main blockquote {
	grid-column-start: 1;
	grid-column-end: 5;

	font-size: 1.1875rem;
	line-height: $header-lineheight;
	margin-top: 0;
	margin-bottom: $header-margin-bottom;
		
	@include breakpoint(large) {
		font-size: 1.9375rem;
	}
	@include breakpoint(large) {
		text-align: right;
	}
}

/*--------------------------------------------------------------
3.4 Footer Grid
--------------------------------------------------------------*/

.flaxen-footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	   grid-gap: $global-grid-gap;
}

.footer-bg-color {
	grid-column: 1 / 5;
	grid-row: 1;
	background: $light-gray;
	border-radius: $global-radius;

	@include breakpoint(medium) {
		grid-column: 1 / 3;
	}
}

.footer-navigation-top {
	grid-column: 1 / 4;
	grid-row: 1;

	@include breakpoint(medium) {
		grid-column: 1;
	}
}

.footer-contact {
	grid-column: 1 / 3;
	grid-row: 2;
	padding: $global-grid-gap;
	color: $medium-gray;

	@include breakpoint(medium) {
		grid-column: 3;
		grid-row: 1;
		padding: 0;
	}
}

/*--------------------------------------------------------------
7.0 Formatting
--------------------------------------------------------------*/

.navigation-top{
	color: $secondary-color;
}

.header-promo {

}

.header-promo a {
	padding: $global-padding;
	background: $light-gray;
	border-radius: $global-radius;
	transition: $button-transition;
}

.header-promo a:hover {
	background: $primary-color;
	color: $secondary-color;
}

/*--------------------------------------------------------------
10.0 Links
--------------------------------------------------------------*/

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, li a {
	transition: $button-transition;
}

/*--------------------------------------------------------------
12.0 Navigation
--------------------------------------------------------------*/

.menu {
	font-weight: bold !important;
}

svg {
	fill: currentColor;
}

.position-top {
	height: auto;
}

.current-menu-item a {
	color: $anchor-color-hover;
}

.off-canvas a:hover, .off-canvas .current-menu-item a {
	color: $white;
}

.off-canvas hr {
	border-bottom: 1px solid $secondary-color;
}

.dark a:hover, .dark .current-menu-item a {
	color: $white;
}

.icon {
	width: 1em;
	// height: 3em;
}

.icon-search {
	padding-left: $global-padding;
	color: $white;
}

.icon-angle-down {
	height: 1em;
}

.icon-feature {
	font-size: 3em;
	color: $medium-gray;
}

.icon-feature:hover {
	color: $dark-gray;
}

.header-contact svg {
	margin: .25em;
}

.header-contact button {
	margin-left: 1em;
	margin-right: 1em;
}

.menu li {
	float: right;
	list-style-type: none;
}

.menu-item .is-active {
	color: $black;
}

.off-canvas .menu li {
	float: left;
	clear: both;
	width: 100%;
}

/*
.pagination a, .pagination button {
	display: inline;
} */

.page-numbers {
	display: inline;
}

.social-links-menu li {
	display: inline-block;
}

.social-links-menu li a {
	color: $secondary-color;
	background: $medium-gray;
	border-radius: 50%;
	width: 3em;
	height: 3em;
	float: left;
	display: grid;
	align-items: center;
	justify-items: center;
}

.social-links-menu li a:hover {
	color: $primary-color;
}

#menu-social li {
	width: auto;
}

// This should be in one class
.social-navigation .icon, #menu-social li a .icon {
	width: 1em;
	// height: 1em;
}

.submenu a {
	color: $primary-color;
}

input[type="search"] {
	width: auto;
}

.off-canvas a:hover, .off-canvas .current-menu-item a {
	// color: $secondary-color;
}

.footer-navigation-top .current-menu-item a {
	// color: $dark-gray;
}


/*--------------------------------------------------------------
18.0 SVGs Fallbacks
--------------------------------------------------------------*/

/* Social Menu fallbacks */

.no-svg .social-navigation a {
	background: transparent;
	color: #222;
	height: auto;
	width: auto;
}

/* Show screen reader text in some cases */

.no-svg .next.page-numbers .screen-reader-text,
.no-svg .prev.page-numbers .screen-reader-text,
.no-svg .social-navigation li a .screen-reader-text,
.no-svg .search-submit .screen-reader-text {
	clip: auto;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 400;
	height: auto;
	position: relative !important; /* overrides previous !important styles */
	width: auto;
}

/*--------------------------------------------------------------
20.0 Required Worpess CSS
	Adapted from Twenty Sixteen
--------------------------------------------------------------*/

.wp-caption {
	max-width: 100%;
}

.wp-caption-text {
	margin-top: 1em;
	font-style: italic;
}

// https://foundation.zurb.com/sites/docs/sticky.html#sticky-navigation ?
.sticky {
	/* Currently not using */
}

.screen-reader-text {
	position: static !important;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
}

.screen-reader-text {
	position: absolute !important;
}

.gallery-caption {
	font-style: italic;
}

img .alignleft {
	padding-right: 1em;
}

.alignright {
	float: right;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/* little extra hack used to overwrite a foundation menu default */
.no-padding-left {
	padding-left: 0 !important;
}

/* hacky little extra overriding the foundation styles */
.footer-navigation-top .sub-menu .menu-item {
	float: left !important;
	clear: both;
}

/* little extra for the off canvas sub menus  might be availabe in settings */
.off-canvas .sub-menu a {
	color: $secondary-color;
}

.off-canvas .sub-menu a:hover {
	color: $white;
}

.large-text-right {
	text-align: left;

	@include breakpoint(large) {
		text-align: right;
	}
}
