/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

// TBC

/*--------------------------------------------------------------
1.0 Normalize
--------------------------------------------------------------*/

/* sass variables */
$breakpoints: (
	small: 0,
	medium: 640px,
	large: 1024px,
);

$white: #fefefe;
$black: #222;
$light-gray: #E2E2E2;
$medium-gray: #73768D;
$dark-gray: #8a8a8a;

$primary-color: #35070F;
$secondary-color: #F2AD8D; // this might be better with an rgba?

$ivory: #FFF9F7;
$peach: #F9DACC;
$terracotta: #995751;

// Riley 2021 note
// I dont like this hover should be darker
$anchor-color-hover: scale-color($secondary-color, $lightness: -55%);

$global-padding: 1rem;
$global-radius: 2px;
$global-grid-gap: 1rem;

// this seems overly specific
$button-transition: background-color 0.25s ease-out, color 0.25s ease-out;

$header-lineheight: 1.4;
$header-margin-bottom: 0.5rem;

$shadow: 2px 2px 10px 0px rgba(0,0,0,0.20);
$shadow-hover: 2px 2px 10px 0px rgba(0,0,0,0.50);

/*--------------------------------------------------------------
3.0 Alignments
--------------------------------------------------------------*/

/*--------------------------------------------------------------
3.1 Page Grid
--------------------------------------------------------------*/

// https://type-scale.com/
html {font-size: 16px;}

body {
  background-color: $ivory;
  font-family: 'Raleway', serif;
  font-weight: 400;
  line-height: 1.45;
  color: $primary-color;
  margin: 0; // reset
}

body p::selection {
	background-color: $peach; 
}

p {margin-bottom: 1.25em;}

h1, h2, h3, h4, h5 {
  // margin: 1rem 0 2.75rem 0; // top right bottom left
  font-weight: 400;
  line-height: 1.15;
  margin-top: 0;
}

h1 {
  margin-bottom: 2.441rem;
  font-size: 3.052em; // 48px
  font-weight: 900; // these are specific to aaw
  font-style: italic; // these are specific to aaw
  font-family: 'Playfair Display script=all rev=1', serif; // what are the additional parts of this?
}

h2 {
	font-size: 2.441em; // 39px
	margin-bottom: 1.953rem;
}

h3 {
	font-size: 1.953em; // 31px
	margin-bottom: 1.563rem;
}

h4 {
	font-size: 1.563em; // 25px
	margin-bottom: 1.25rem;
}

h5 {
	font-size: 1.25em; // 20px
	margin-bottom: 1rem;
}

small, .text_small {font-size: 0.8em;}

svg {
	fill: currentColor; 
}

svg:hover {
	fill: $terracotta;
}

a {
	color: $primary-color;
}

a:hover {
	color: $terracotta;
}

button, .button {
	background: $terracotta;
	color: $ivory;
	padding: $global-padding;
	border-radius: $global-radius;
	border: 2px $ivory solid;
	// font-family: 'playfair-display', serif; // is this explicit neccecary
	font-size: 1.25em;
	display: inline-block;
	transition-duration: 1s;
	box-shadow: $shadow;
	text-transform: uppercase;
}

button:hover {
	background: darken($terracotta, 20);
	color: darken($ivory, 20);
	box-shadow: $shadow-hover;
}

button a {
	color: $ivory;
	text-decoration: none;
}

li {
	margin-bottom: 0.5em;
}

.text-center {
	text-align: center;
}

fieldset {
	border: none; // browser reset
}

.show-for-large {
	display: none;
	@media (min-width: map-get($breakpoints, large)) {
		display: initial;
	}
}

.site {
	// display: grid;
	// grid-template-columns: 1fr 10px 1fr; // kinda creating the grid gap as I use it for the vertical borders
	
	background: $peach;
	margin: 0 10px 10px 10px; // top (hide mini menu use padding) right bottom left
	grid-gap: 10px; // mobile first would say this should be the grid gap then *2 below
	// padding-top: 2.441em; // type scale

	padding-bottom: 3rem;

	@media (min-width: map-get($breakpoints, large)) {
		grid-template-columns: 1fr 20px 1fr;
	}
}

.header-background-color {
	background: $ivory;
}

// this might now all be old
.site-header {
	align-items: baseline;
	// justify-self: center;
	// background: $ivory;
}

footer {
	background: $ivory;
	border-radius: $global-radius;
	margin: 0 auto;
	margin-bottom: 3rem;
	max-width: 63rem; // this is filled so its smaller
	width: calc(100% - 1rem);
	padding: 0.5rem;
	display: grid;
	grid-gap: 1rem;
	// this could be a flex but its easier to keep the same as main

	@media (min-width: map-get($breakpoints, medium)) {
		width: calc(100% - 4rem); // why is this more?
		padding: 1rem;
		grid-template-columns: 1fr 1rem 1fr;
	}

	> .footer-navigation-top {
		grid-row: 1;
	}

	> hr {
		grid-row: 2;

		@media (min-width: map-get($breakpoints, medium)) {
			display: none;
		}
	}

	> .footer-border {
		display: none;
		@media (min-width: map-get($breakpoints, medium)) {
			display: block;
			grid-row: 1;
			height: 100%;
			border-left: 2px $black solid;
		}
	}

	> .footer-navigation-bottom {
		grid-row: 3;
		
		@media (min-width: map-get($breakpoints, medium)) {
			grid-row: 1;
			grid-column: 3;
		}
	}
}

.title-image {
	grid-column: 1;
	grid-row: 3 / 5;
	z-index: 3; // above background color
	max-width: 22rem;
	justify-self: end;
}

.title-image img {
	border-radius: $global-radius;
	max-width: 100%;
	height: auto;
	box-shadow: $shadow;
}

.title-border {
	grid-row: 1;
	grid-column: 2;
	border-left: 2px solid $black;
	z-index: 2; // over the article background
	margin-bottom: -2rem; // get past the grid gap
	width: 100%; // fill the grid space
}

.main-bg-color {
	// background: $peach;
	width: calc(100vw - 2rem);
	display: grid;
	// grid-column: 1 / 4;
	// grid-row: 4 / 8;
	// background: scale-color($secondary-color, $lightness: 55%); // I think this could probably made a second variable higher up
	border-radius: $global-radius;
	// box-shadow: $shadow;
}

.attachment-post-thumbnail {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}

main, .main {
	padding: 0.5rem;
	// I also want these to not be square as tops and sides are different
	width: calc(100% - 1rem);
	max-width: 65em;
	margin: 2rem auto;
	// dont put on a border radius this connects to the footer
	border-top-left-radius: $global-radius;
	border-top-right-radius: $global-radius;
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: 1fr 1rem 1fr;

	@media (min-width: map-get($breakpoints, medium)) {
		width: calc(100% - 2rem);
		padding: 1rem;
	}
}

main > .main-thumbnail {
	max-height: 15rem;
	max-width: 100%;
	height: auto;
	border: 1rem $ivory solid;
	border-radius: $global-radius;
	overflow-y: hidden;
}

main > .main-thumbnail > .attachment-post-thumbnail {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;

}

main > article {
	grid-row: 2;
	grid-column: 1/4; // guess and check
	background: $ivory;
	padding: 0.5rem;

	@media (min-width: map-get($breakpoints, medium)) {
		padding: 1rem;
	}
}

main > h1 {
	grid-row: 1;
	grid-column: 3;
	width: 100%;
}

/* 
.main-extra {
	// waiting on what I need to do
} */
/* 
.footer-border {
	border-left: 2px solid $black;
	z-index: 2; // above main bg color
} */

.footer-border-extender {
	/* empty with a minimum heigh to cause the grid row to show */
	grid-row: 7;
	min-height: 30px;
}

.flaxen-footer {
	grid-column: 1 / 4;
	grid-row: 9 / 11;
}

.footer-social {
	grid-column: 1 / 4;
	grid-row: 9;
	display: flex; // make it a block
}

.footer-social ul {
	display: flex;
}

/*--------------------------------------------------------------
3.1 Header Grid
--------------------------------------------------------------*/

header {
	width: calc(100% - 1rem);
	max-width: 65rem;
	margin: 0 auto;
	padding: 0.5rem;
	display: grid;
	grid-gap: 1rem;

	@media (min-width: map-get($breakpoints, medium)) {
		width: calc(100% - 2rem);
		padding: 1rem;
	}
}

.navigation-top {
	grid-row: 1;
	grid-column: 2;
	justify-self: end;
}

.header-promo {
	grid-column: 1 / 3;
	grid-row: 2;
	justify-self: center;
}

.title-bottom { // need to change the title when its ready
	grid-column: 3;
	grid-row: 3;
	max-width: 33rem;
	margin-bottom: 0; // reset
}

.border-extender {
	grid-row: 5;
	min-height: 5rem;
}

/*--------------------------------------------------------------
3.2 Article Grid
--------------------------------------------------------------*/

/*--------------------------------------------------------------
3.3 Article Grid
--------------------------------------------------------------*/

// this might still need something but main article could do this easier 
main {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	hr,
	blockquote,
	div, // secondary catch all
	p,
	ul {
		max-width: 44rem; // has to be rem or all the h will be different
		margin-left: auto;
		margin-right: auto;
	}
}


blockquote {
	@extend h3;
	margin: 0;

	> p {
		margin: 0; // browser reset
	}
}

/*--------------------------------------------------------------
3.4 Footer Grid
--------------------------------------------------------------*/

.footer-navigation-top {
	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 1;
	}
}

.footer-contact {
	grid-column: 1 / 4;
	grid-row: 9;
	color: $primary-color;
	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 3;
		grid-row: 8;
	}
}

/*--------------------------------------------------------------
7.0 Formatting
--------------------------------------------------------------*/

.navigation-top{
	color: $secondary-color;
	z-index: 11; // over the mini menu
	button {
		margin-bottom: 0; // specific overwrite
	}
}

.header-promo { // im not sure if i want this on the block level
	// background: $light-gray;
	// border-radius: $global-radius;
	// transition: $button-transition;
	width: 100%;
	max-width: 66rem;
	padding: 0;
}

.header-promo a { // this is all a little scrappy and could be tidied up
	display: inline-block; // needed for width height
	width: 100%;
	height: 100%;
	padding: $global-padding;
}

/* .header-promo:hover {
	background: #cacaca;
}

.header-promo:hover a {
	color: $terracotta;
} */

/*--------------------------------------------------------------
10.0 Links
--------------------------------------------------------------*/

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	text-decoration: none;
	transition: $button-transition; // should this just be all things?
}

/*--------------------------------------------------------------
12.0 Navigation
--------------------------------------------------------------*/

hr {
	width: 100%; // browser reset
	border: none; // chrome reset
	border-bottom: 1px solid $primary-color;
}

.menu {
	padding-left: 0; // default overwrite
}

#minimenu .sub-menu { // deals with .text-center
	padding-left: 0; // default overwrite
	display: block; // lock the margin bottom in
}

svg {
	fill: currentColor; // we have this at the top does it need to be repeated?
}

.current-menu-item a {
	color: $terracotta;
}

.off-canvas a:hover, .off-canvas .current-menu-item a {
	color: $white;
}

.off-canvas hr {
	border-bottom: 1px solid $secondary-color;
}

.dark a:hover, .dark .current-menu-item a {
	color: $white;
}

.icon {
	width: 1em;
	height: 2em;
}

.icon-search { // why does this need to be specifically different?
	padding-left: $global-padding;
	color: $white;
}

.icon-angle-down { // document this
	height: 1em;
}

.icon-feature {
	font-size: 3em;
	color: $medium-gray;
}

.icon-feature:hover {
	color: $dark-gray;
}

.menu li {
	list-style-type: none;
	margin-bottom: 1em;
}

.menu a {
	margin-bottom: 1em; // this doubles up with sub menu
	display: block; // lock the margin bottom in
}

.menu-item .is-active {
	color: $black;
}

.off-canvas .menu li {
	float: left;
	clear: both;
	width: 100%;
}

.page-numbers {
	display: inline;
}

.social-links-menu li a {
	width: 2em;
	height: 2em;
	float: left;
}

.social-links-menu li a:hover {
	color: $primary-color;
}

// This needs work
// .menu-social-container {
// 	float: left;
// 	width: 100%;
// }

#menu-social {
	// float: left;
	// width: 100%;
	// padding-left: 0; // default overwrite
	display: flex;
	// justify-content: center;
}

#menu-social li {
	// float: left;
	// width: auto;
	background: $terracotta;
	border-radius: 50%;
	border: 2px $ivory solid;
	box-shadow: $shadow;
	fill: $ivory;
	display: grid;
	place-items: center;
	width: 3rem;
	height: 3rem;

	a {
		color: $ivory;
		margin-bottom: 0; // reset .menu a
		width: 24px;
		height: 24px;
	}

	// this should really adjust the whole button
	svg:hover {
		fill: darken($ivory, 20);
	}
}

#menu-social li:first-child {
	margin-right: 1rem;
}

/*
// This should be in one class
.social-navigation .icon, #menu-social li a .icon {
	width: 1em;
	height: 2em;
}
*/

#header-social {
	display: flex;
	justify-content: center;
}

.submenu a {
	color: $primary-color;
}

input[type="search"] {
	width: auto;
}

.view-results {
	list-style: none;
	padding-left: 0;
	margin-bottom: 1em;

	li {
		margin-bottom: 1em;
	}
}

/*--------------------------------------------------------------
18.0 SVGs Fallbacks
--------------------------------------------------------------*/

/* Social Menu fallbacks */

.no-svg .social-navigation a {
	background: transparent;
	color: #222;
	height: auto;
	width: auto;
}

/* Show screen reader text in some cases */

.no-svg .next.page-numbers .screen-reader-text,
.no-svg .prev.page-numbers .screen-reader-text,
.no-svg .social-navigation li a .screen-reader-text,
.no-svg .search-submit .screen-reader-text {
	clip: auto;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 400;
	height: auto;
	position: relative !important; /* overrides previous !important styles */
	width: auto;
}

/*--------------------------------------------------------------
20.0 Required Worpess CSS
	Adapted from Twenty Sixteen
--------------------------------------------------------------*/

.wp-caption {
	max-width: 100%;
}

.wp-caption-text {
	margin-top: 1em;
	font-style: italic;
}

/* .sticky {
	// Currently not using
} */

.screen-reader-text {
	position: static !important;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
}

.screen-reader-text {
	position: absolute !important;
}

.gallery-caption {
	font-style: italic;
}

img .alignleft {
	padding-right: 1em;
}

.alignright {
	float: right;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/* little extra hack used to overwrite a foundation menu default */
.no-padding-left {
	padding-left: 0 !important;
}

/* little extra for the off canvas sub menus  might be availabe in settings */
.off-canvas .sub-menu a {
	color: $secondary-color;
}

.off-canvas .sub-menu a:hover {
	color: $white; 
}

.large-text-right {
	text-align: left;

	@media (min-width: map-get($breakpoints, large)) {
		text-align: right;
	}
}

cite {
	@extend h4;
}

#minimenu {
	background: $terracotta;
	display: flex;
	flex-direction: column;
	position: absolute;
	transform: translate3d(0,-100%,0); // hide the menu to start 100% doesnt seem to be working currently that needs to be fixed // this seems to be because of the .page margin
	// width: calc(100% - 2em);
	width: 100%;
	z-index: 10;
	box-shadow: $shadow;
	transition-duration: 3s;
	// padding: 1em;

	a {
		color: $ivory;
	}

	a:hover {
		color: darken($ivory, 20);
	}

	hr {
		width: calc(100% - 2em);
		border: none;
		border-bottom: 2px solid $secondary-color;
	}

	h2 {
		font-weight: 900; // these are specific to aaw
		font-style: italic; // these are specific to aaw
		margin-top: 2rem;
	}

	.menu-social-container {
		li:first-child {
			margin-right: 1rem;
		}

		li:nth-child(2) {
			margin-left: 1rem;
		}

		a {
			background: $peach;
			border-radius: 50%;
			border: 2px $ivory solid;
			padding: 0.5rem;
			width: 24px;
			height: 24px;

			svg {
				fill: $terracotta;
			}

			svg:hover {
				fill: darken($terracotta, 20);
			}
		}
	}
}

.minimenu-toggle {
	z-index: 11;
}

.minimenu-open {
	transform: translate3d(0,0,0) !important;
	// transition-duration: 3s;
}

.social-links-menu li {
	list-style: none;
}

input[type="text"],
textarea {
	font-family: 'Playfair Display', serif; // defualt overwrite
	font-size: 1em; // defualt overwrite
	width: calc(100% - 2em);
	padding: $global-padding/2;
	margin-top: 0.5em;
	margin-bottom: 1em;
	border: 1px solid $primary-color;
	border-radius: $global-radius;
}

.form-label-numbers {
	display: flex;
	justify-content: space-between;

	label {
		margin-right: 1em;
	}
}

form .form-big-input { // form needed for higher specificity
	padding: 1em;
	width: calc(100% - 12em); // fit the search box on the same line
}

.single-list {
	padding-left: 0; // default overwrite
	li {
		list-style: none;
		font-size: 1.25em; // major third h5
		margin-bottom: 1em;
	}
}

.site-branding-text h1 {
	margin-bottom: 0; // reset
	transition-duration: 3s;
}

.site-branding-text h1 a:hover {
	color: $secondary-color;
	text-decoration: underline;
}

.menu-item {
	font-size: 19px; // this cant use an em or it doubles up with submenus
}

/*
.footer-navigation-top .sub-menu li {
	// list-style: disc !important; // this isnt working
}
*/

.behind-the-events { // this breaks the link as its behind things
	z-index: -1; // top bar shows discovery as a default after php 7.3 this can be removed
}

.forward-banner {
	z-index: 2;
}

.programs-list {
	padding-left: 0;

	li {
		list-style: none;

		h3 {
			display: inline;

			a {
				text-decoration: underline;
			}
		}
	}
}

.price-click {
	background: #F2AD8D;
	margin-top: 0.5rem;
	margin-left: 1rem;
	padding: 0.5rem 1rem;
	color: #fefefe;
	border-radius: 4px;
	text-decoration: none;
	display: inline-block;
}

// testimonial badges were out of ratio
.wp-block-media-text__media img,
.wp-block-media-text__media video {
	height: auto;
}

// testimonials
// needs to be done better
.page-id-198 {
	blockquote {
		p {
			font-size: 1rem;
			line-height: 1.5;
		}

		cite {
			font-size: 1rem;
		}
	}

	.wp-block-media-text__media {
		max-width: 10rem; // guess and check
		justify-self: center;
	}
}

#featured-programs {
	display: flex;
	max-width: 65rem;
	margin: 3rem auto;

	article {
		flex: 1 1 35rem;
		background: $ivory;
		border: 2px $ivory solid;
		border-radius: $global-radius;
		padding: 1rem;

		img {
			width: 100%;
			max-width: 100%;
			height: auto;
			object-fit: cover;
			max-height: 10rem; // guess and check
		}

		.a-title {
			text-decoration: underline;
		}

		.a-learn {
			@extend button;
		}
	}

	article:first-child {
		margin-right: 1rem;
	}

	article:nth-child(2) {
		margin-left: 1rem;
	}
}