/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

// yeah I need to finish this

/*--------------------------------------------------------------
1.0 Normalize
--------------------------------------------------------------*/

/* sass variables */
$breakpoints: (
	small: 0,
	medium: 640px,
	large: 1024px,
);

$white: #fefefe;
$black: #222;
$light-gray: #E2E2E2;
$medium-gray: #73768D;
$dark-gray: #8a8a8a;

$primary-color: #35070F;
$secondary-color: #F2AD8D; // this might be better with an rgba?

$blend-color: #995751;

$anchor-color-hover: scale-color($secondary-color, $lightness: -55%);

$global-padding: 1rem;
$global-radius: 5px;
$global-grid-gap: 20px; // should also be an rem?

$button-transition: background-color 0.25s ease-out, color 0.25s ease-out;

$header-lineheight: 1.4;
$header-margin-bottom: 0.5rem;

$shadow: 2px 2px 10px 0px rgba(0,0,0,0.20);
$shadow-hover: 2px 2px 10px 0px rgba(0,0,0,0.50);

.text-center {
	text-align: center;
}

/*--------------------------------------------------------------
3.0 Alignments
--------------------------------------------------------------*/

/*--------------------------------------------------------------
3.1 Page Grid
--------------------------------------------------------------*/

// https://type-scale.com/
html {font-size: 16px;}

body {
  background-color: white;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  line-height: 1.45;
  color: $primary-color;
  margin: 0; // reset
}

body p::selection { // this isnt working
	background-color: $primary-color; 
}

p {margin-bottom: 1.25em;}

h1, h2, h3, h4, h5 {
  // margin: 1rem 0 2.75rem 0; // top right bottom left
  font-weight: 400;
  line-height: 1.15;
  margin-top: 0;
}

h1 {
  margin-bottom: 2.441rem;
  font-size: 3.052em;
  font-weight: 900; // these are specific to aaw
  font-style: italic; // these are specific to aaw
  font-family: 'Playfair Display script=all rev=1', serif; // what are the additional parts of this?
}

h2 {
	font-size: 2.441em;
	margin-bottom: 1.953rem;
}

h3 {
	font-size: 1.953em;
	margin-bottom: 1.563rem;
}

h4 {
	font-size: 1.563em;
	margin-bottom: 1.25rem;
}

h5 {
	font-size: 1.25em;
	margin-bottom: 1rem;
}

small, .text_small {font-size: 0.8em;}

svg {
	fill: currentColor; 
}

svg:hover {
	fill: $blend-color;
}

a {
	color: $primary-color;
}

a:hover {
	color: $blend-color;
}

button, .button {
	background: $secondary-color;
	color: $primary-color;
	padding: $global-padding;
	border-radius: $global-radius;
	border: none;
	font-family: 'playfair-display', serif;
	font-size: 1.25em;
	display: inline-block;
	transition-duration: 1s;
	box-shadow: $shadow;
}

button:hover {
	background: $blend-color;
	color: $secondary-color;
	box-shadow: $shadow-hover;
}

li {
	margin-bottom: 0.5em;
}

fieldset {
	border: none; // browser reset
}

.show-for-large {
	display: none;
	@media (min-width: map-get($breakpoints, large)) {
		display: initial;
	}
}

.site {
	display: grid;
	grid-template-columns: 1fr 10px 1fr; // kinda creating the grid gap as I use it for the vertical borders
	
	margin: 0 10px 40px 10px; // top (hide mini menu use padding) right bottom left
	grid-gap: 10px; // mobile first would say this should be the grid gap then *2 below
	padding-top: 2.441em; // type scale

	@media (min-width: map-get($breakpoints, large)) {
		grid-template-columns: 1fr 20px 1fr;
	}
}

.site-header {
	grid-column: 1 / 4;
	grid-row: 1;
	align-items: baseline;
	width: 100%;
	max-width: 66rem;
	justify-self: center;
}

.title-image {
	grid-column: 1;
	grid-row: 3 / 5;
	z-index: 3; // above background color
	max-width: 22rem;
	justify-self: end;
}

.title-image img {
	border-radius: $global-radius;
	max-width: 100%;
	height: auto;
	box-shadow: $shadow;
}

.title-border {
	grid-column: 2;
	grid-row: 3 / 6;
	border-left: 2px solid $black;
	z-index: 2;
}

.main-bg-color {
	grid-column: 1 / 4;
	grid-row: 4 / 8;
	background: scale-color($secondary-color, $lightness: 55%); // I think this could probably made a second variable higher up
	border-radius: $global-radius;
	box-shadow: $shadow;
}

main, .main {
	grid-column: 1 / 4;
	grid-row: 6;
	padding: $global-grid-gap;
	width: calc(100% - 40px);
	max-width: 44em;
	margin: 0 auto;
	// box-shadow: $shadow;
}

.footer-border {
	grid-column: 2;
	grid-row: 7 / 9;
	border-left: 2px solid $black;
	z-index: 2; // above main bg color
}

.footer-border-extender {
	/* empty with a minimum heigh to cause the grid row to show */
	grid-row: 7;
	min-height: 30px;
}

.flaxen-footer {
	grid-column: 1 / 4;
	grid-row: 9 / 11;
}

.footer-social {
	grid-column: 1 / 4;
	grid-row: 9;
	display: flex; // make it a block
}

.footer-social ul {
	display: flex;
}

/*--------------------------------------------------------------
3.1 Header Grid
--------------------------------------------------------------*/

.site-header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.header-promo {
	grid-column: 1 / 4;
	grid-row: 2;
	justify-self: center;
}

.title-bottom { // need to change the title when its ready
	grid-column: 3;
	grid-row: 3;
	max-width: 33rem;
	margin-bottom: 0; // reset
}

.border-extender {
	grid-row: 5;
	min-height: 5rem;
}

/*--------------------------------------------------------------
3.2 Article Grid
--------------------------------------------------------------*/

/*--------------------------------------------------------------
3.3 Article Grid
--------------------------------------------------------------*/

.main h1, .main h2, .main h3, .main h4, .main h5, .main h6, .main hr, .main blockquote,
.main div, // secondary catch all
.main p, .main ul {
	max-width: 44rem; // has to be rem or all the h will be different
	margin-left: auto;
	margin-right: auto;
}

.main blockquote {
	font-size: 1.1875rem; // where is this number coming from? type scale?
	line-height: $header-lineheight;
	margin-top: 0; // is this a default overwrite?
	margin-bottom: $header-margin-bottom;
	padding-left: 0;
		
	@media (min-width: map-get($breakpoints, large)) {
		font-size: 1.9375rem; // where is this number coming from?
	}
}

/*--------------------------------------------------------------
3.4 Footer Grid
--------------------------------------------------------------*/

.footer-navigation-top {
	background: lightgray;
	grid-column: 1 / 4;
	grid-row: 8;
	border-radius: $global-radius;
	width: calc(100% - 2em); // remove the padding
	max-width: 33rem;
	justify-self: end;
	padding: $global-padding;
	box-shadow: $shadow;
	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 1;
	}
}

.footer-contact {
	grid-column: 1 / 4;
	grid-row: 9;
	color: $primary-color;
	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 3;
		grid-row: 8;
	}
}

/*--------------------------------------------------------------
7.0 Formatting
--------------------------------------------------------------*/

.navigation-top{
	color: $secondary-color;
	z-index: 11; // over the mini menu
	button {
		margin-bottom: 0; // specific overwrite
	}
}

.header-promo { // im not sure if i want this on the block level
	background: $light-gray;
	border-radius: $global-radius;
	transition: $button-transition;
	width: 100%;
	max-width: 66rem;
	box-shadow: $shadow;
}

.header-promo a { // this is all a little scrappy and could be tidied up
	display: inline-block; // needed for width height
	width: calc(100% - 2em);
	height: calc(100% - 2em);
	padding: $global-padding;
}

.header-promo:hover {
	background: #cacaca;
}

.header-promo:hover a {
	color: $blend-color;
}

/*--------------------------------------------------------------
10.0 Links
--------------------------------------------------------------*/

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	text-decoration: none;
	transition: $button-transition; // should this just be all things?
}

/*--------------------------------------------------------------
12.0 Navigation
--------------------------------------------------------------*/

hr {
	width: 100%; // browser reset
	border: none; // chrome reset
	border-bottom: 1px solid $primary-color;
}

.menu {
	padding-left: 0; // default overwrite
}

#minimenu .sub-menu { // deals with .text-center
	padding-left: 0; // default overwrite
	display: block; // lock the margin bottom in
}

svg {
	fill: currentColor; // we have this at the top does it need to be repeated?
}

.current-menu-item a {
	color: $blend-color;
}

.off-canvas a:hover, .off-canvas .current-menu-item a {
	color: $white;
}

.off-canvas hr {
	border-bottom: 1px solid $secondary-color;
}

.dark a:hover, .dark .current-menu-item a {
	color: $white;
}

.icon {
	width: 1em;
	height: 2em;
}

.icon-search { // why does this need to be specifically different?
	padding-left: $global-padding;
	color: $white;
}

.icon-angle-down { // document this
	height: 1em;
}

.icon-feature {
	font-size: 3em;
	color: $medium-gray;
}

.icon-feature:hover {
	color: $dark-gray;
}

.menu li {
	list-style-type: none;
	margin-bottom: 1em;
}

.menu a {
	margin-bottom: 1em; // this doubles up with sub menu
	display: block; // lock the margin bottom in
}

.menu-item .is-active {
	color: $black;
}

.off-canvas .menu li {
	float: left;
	clear: both;
	width: 100%;
}

.page-numbers {
	display: inline;
}

.social-links-menu li a {
	width: 2em;
	height: 2em;
	float: left;
}

.social-links-menu li a:hover {
	color: $primary-color;
}

// This needs work
// .menu-social-container {
// 	float: left;
// 	width: 100%;
// }

#menu-social {
	// float: left;
	// width: 100%;
	// padding-left: 0; // default overwrite
	display: flex;
	// justify-content: center;
}
/*
#menu-social li {
	float: left;
	width: auto;
}

// This should be in one class
.social-navigation .icon, #menu-social li a .icon {
	width: 1em;
	height: 2em;
}
*/

#header-social {
	display: flex;
	justify-content: center;
}

.submenu a {
	color: $primary-color;
}

input[type="search"] {
	width: auto;
}

.view-results {
	list-style: none;
	padding-left: 0;
	margin-bottom: 1em;

	li {
		margin-bottom: 1em;
	}
}

/*--------------------------------------------------------------
18.0 SVGs Fallbacks
--------------------------------------------------------------*/

/* Social Menu fallbacks */

.no-svg .social-navigation a {
	background: transparent;
	color: #222;
	height: auto;
	width: auto;
}

/* Show screen reader text in some cases */

.no-svg .next.page-numbers .screen-reader-text,
.no-svg .prev.page-numbers .screen-reader-text,
.no-svg .social-navigation li a .screen-reader-text,
.no-svg .search-submit .screen-reader-text {
	clip: auto;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 400;
	height: auto;
	position: relative !important; /* overrides previous !important styles */
	width: auto;
}

/*--------------------------------------------------------------
20.0 Required Worpess CSS
	Adapted from Twenty Sixteen
--------------------------------------------------------------*/

.wp-caption {
	max-width: 100%;
}

.wp-caption-text {
	margin-top: 1em;
	font-style: italic;
}

/* .sticky {
	// Currently not using
} */

.screen-reader-text {
	position: static !important;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
}

.screen-reader-text {
	position: absolute !important;
}

.gallery-caption {
	font-style: italic;
}

img .alignleft {
	padding-right: 1em;
}

.alignright {
	float: right;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/* little extra hack used to overwrite a foundation menu default */
.no-padding-left {
	padding-left: 0 !important;
}

/* little extra for the off canvas sub menus  might be availabe in settings */
.off-canvas .sub-menu a {
	color: $secondary-color;
}

.off-canvas .sub-menu a:hover {
	color: $white; 
}

.large-text-right {
	text-align: left;

	@media (min-width: map-get($breakpoints, large)) {
		text-align: right;
	}
}

cite {
	font-size: unset !important;
}

#minimenu {
	background: $light-gray;
	display: flex;
	flex-direction: column;
	position: absolute;
	transform: translate3d(0,-100%,0); // hide the menu to start 100% doesnt seem to be working currently that needs to be fixed // this seems to be because of the .page margin
	// width: calc(100% - 2em);
	width: 100%;
	z-index: 10;
	box-shadow: $shadow;
	transition-duration: 3s;
	// padding: 1em;

	hr {
		width: calc(100% - 2em);
		border: none;
		border-bottom: 2px solid $secondary-color;
	}

	h2 {
		font-weight: 900; // these are specific to aaw
		font-style: italic; // these are specific to aaw
	}
}

.minimenu-toggle {
	z-index: 11;
}

.minimenu-open {
	transform: translate3d(0,0,0) !important;
	// transition-duration: 3s;
}

.social-links-menu li {
	list-style: none;
}

input[type="text"],
textarea {
	font-family: 'Playfair Display', serif; // defualt overwrite
	font-size: 1em; // defualt overwrite
	width: calc(100% - 2em);
	padding: $global-padding/2;
	margin-top: 0.5em;
	margin-bottom: 1em;
	border: 1px solid $primary-color;
	border-radius: $global-radius;
}

.form-label-numbers {
	display: flex;
	justify-content: space-between;

	label {
		margin-right: 1em;
	}
}

form .form-big-input { // form needed for higher specificity
	padding: 1em;
	width: calc(100% - 12em); // fit the search box on the same line
}

.single-list {
	padding-left: 0; // default overwrite
	li {
		list-style: none;
		font-size: 1.25em; // major third h5
		margin-bottom: 1em;
	}
}

.site-branding-text h1 {
	margin-bottom: 0; // reset
	transition-duration: 3s;
}

.site-branding-text h1 a:hover {
	color: $secondary-color;
	text-decoration: underline;
}

.menu-item {
	font-size: 19px; // this cant use an em or it doubles up with submenus
}

/*
.footer-navigation-top .sub-menu li {
	// list-style: disc !important; // this isnt working
}
*/

.behind-the-events { // this breaks the link as its behind things
	z-index: -1; // top bar shows discovery as a default after php 7.3 this can be removed
}

.forward-banner {
	z-index: 2;
}